*,
*::before,
*::after {
    margin: 0;
}

body {
    font-family: Arial;
    background-color: aquamarine;
}
.wrapper {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    height: 300px;
}

.flex div {
    width: 150px;
    height: 150px;
}

.flex > div:nth-child(1) {
    background-color: bisque;
    order: 2;
}

.flex > div:nth-child(2) {
    background-color: whitesmoke;
    order: 1;
    /* flex-grow: 1; */
    flex-basis: 250px;
}

.flex > div:nth-child(3) {
    background-color: pink;
    order: 1;
    /* flex-grow: 2; */
}

.flex > div:nth-child(4) {
    background-color: burlywood;
}

.flex {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 300px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* (or this one for shorter formula)
    grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        "logo nav nav"
        "welcome welcome welcome"
        "products products products"
        "footer footer footer";
}

h1 {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.welcome {
    grid-area: welcome;
}

.products {
    grid-area: products;
    display: flex;
}

footer {
    grid-area: footer;
}

@media screen and (min-width: 1000px) {
    .grid {
        grid-template-columns:
            "logo nav nav"
            "welcome welcome welcome"
            "products products products"
            "footer footer footer";
    }    
}

